.product {
  width: 780px;
  margin: auto;
  border: 2px solid orange;
  border-radius: 20px;
  color: #333;
  font-family: 'Courier New';
  padding: 2rem;

  &__image-wrapper {
    width: 200px;
    height: 200px;

    &__image {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

  }




}
